/.DS_Store
/Organico_design_release.code-workspace
design/design ideas/BBC Good Food/.DS_Store
design/.DS_Store
design/design ideas/.DS_Store
DS_Store
design/logo/.DS_Store
release/.DS_Store
release/Organico App Mockup/.DS_Store
release/Organico App Mockup/AppMockUp Screenshots/.DS_Store
release/Screenshots/.DS_Store
release/Screenshots/iPhone 14 Plus/.DS_Store
release/Screenshots/iPhone Max/.DS_Store
design/design ideas/14 Mar Organico Recipes Revamp.aac
